/*--------------------------Column 6-----------------------------*/
.contain__produce {
    margin-top: 145px;
}
.contain__produce-img .produce__img {
    background-color: #000;
    display: block;
    height: 100px;
    
}
.contain__produce-img {
    flex: auto;
}
.contain__title-body {
    line-height: 30px;
    margin-top: 30px;
 
}
.contain__title-price {
    color: red;
}
.contain__title-follow {
    float: right;
    margin-top: -2px;
    padding: 2px 6px;
    border: 1px solid red;
    border-radius: 100px;
    text-decoration: none;
    color: red;
}
.contain__title-body .contain__title-device-icon {
    margin-left: 50px;
}
.contain__title-body .contain__title-from-icon {
    margin-left: 173px;
}
/*-----------------------slider-------------------*/
/* thiết lập style cho slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
 /* ẩn hình ảnh cho phần tử slideshow */
  .mySlides {
    display: none;
  }
 /* thiết kế nút mũi tên*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 /* thiết kế nút mũi tên next nằm phía bên phải */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 /* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 /* Thiết lập style cho số hiển thị của phần tử */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
 /* thiết lập style  nút tròn điều khiển*/
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
 .active, .dot:hover {
    background-color: #717171;
  }
 /* tạo hiệu ứng chuyển động fade */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*--------------------Column 4----------------------*/
.contain__user {
    margin-top: 145px;
    line-height: 20px;

}
.contain__user-header {
    display: flex;
}
.contain__user .contain__user-img {
    justify-content: center;
    align-content: center;
    border-radius: 100px;
    margin: auto;
}
.user__img {
    height: 40px;
}
.contain__user .contain__title-h2{
    margin-bottom: 5px;
}
.contain__user .contain__user-page  {
    padding: 2px 6px;
    border: 1px solid red;
    border-radius: 100px;
    text-decoration: none;
    color: red;
}
.contain__user .contain__user-chat {
    border: 1px solid #000;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
}
.contain__user-chat .contain__user-comment {
    margin-left: 150px;
    color: darkgreen;
    text-decoration: none;
    font-size: 20px;
}
.contain__user-chat .contain__user-chaticon {
    margin-left: 5px;
    color: darkgreen;
    size: 10px;
    font-size: 20px;
}

.contain__user-chat .contain__user-chaticon {
    border: none;
}
.contain__number {
    
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.contain__add {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}